# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# local env files
.env*.local

# Sass
*.css.map

# IDE settings
.vscode/*

# Debug files
debug
old
